body{
  overflow: hidden;
  background-color: #c1f1ff;
  background-image: url("../img/woodbg.jpg");
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 910px;
}

#mouse-instructions{
  position: absolute;
  left: 0;
  bottom: 15%;
  height: 40%;
  margin: 10px;
  border-radius: 10px;
}

#container{
	/*visibility: hidden;*/
  /*position: relative;*/
}

#envelope{
  position: relative;
  width: 50%;
  min-width: 910px;
  cursor: pointer;
}

#snowman-card{
  background-color: #ffffff;
  background-image: url(../img/candycane.png);
  background-size: 50px;
  width: 870px;
  height: 560px;
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  /*display: none;*/
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.47);
	-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.47);
	box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.47);
}

#card-container{
  position: absolute;
  width: 900px;
  height: 530px;
  z-index: 9999;
  overflow: hidden;
  bottom: 50%;
  margin-left: 13px;
  transform: translateY(-30%);
  /*background-color: red;*/
}

.screen-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999999999;
  pointer-events: none;
}

#screen-fade{
  opacity: 0;
}

.loading-text{
  font-size: 100px;
  margin: 0;
  font-family: Helvetica;
}

#loading-screen{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  min-width: 910px;
}

#instructions-card{
  width: 870px;
  height: 560px;
  position: absolute;
  left: 100px;
/*  bottom: 110px;*/
  transform: rotate(20deg);
  background-color: #f7ecc3;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.47);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.47);
box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.47);
}

#options{
  width: 30%;
  padding: 30px;
  font-size: 24px;
}

.dg.ac{
  visibility: hidden;
  z-index: 9999999999999;
}

@media (max-width: 1095px){
	#mouse-instructions{
		position: relative;
	}
	#snowman-card{
		position: relative;
		bottom: 100px;
	}
	#instructions-card{
		width: 95%;
		max-width: 500px;
  		height: 560px;
	    transform: rotate(0deg);
	    left: initial;
	    bottom: initial;
	    position: relative;
	    margin-top: 50px;
	    display: none;
	}
	#envelope{
		max-width: 0px;
	}
}

@media (max-height: 850px){
	body{
		overflow: auto;
	}
	#snowman-card{
		position: relative;
	    top: 100px;
	}
}