body{
	overflow: hidden;
	background-color: #ffecbf;
}

#mouse-instructions{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 15%;
  margin: 10px;
  border-radius: 10px;
}

#container{
	/*visibility: hidden;*/
}

.dg.ac{
  visibility: hidden;
}